/* Clean default changes */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f5f7fa;
	padding: 40px;
	font-family: Montserrat;
}

/* main division */
.wrapper {
	background: #ffffff;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/* sidebar */
.sidebar {
	background: #1e2939;
	width: 370px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.my-photo {
	width: 370px;
}

/* contact division*/
.contacts-division {
	margin: 40px 40px 30px 40px;
}

.contacts-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 10px;
}

.contacts-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #adb1b6;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

/* tech skills division */
.tech-skills-division {
    margin: 0px 40px 30px 40px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
   	margin-bottom: 10px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   	color: #ff6b08;
   	margin-left: 15px;
}

.tech-skills-text {
    color: #adb1b6;
}

/* soft skills division */
.soft-skills-division {
    margin: 0px 40px 30px 40px;
}

.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
   	margin-bottom: 10px;
}

.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   	color: #ff6b08;
   	margin-left: 15px;
}

.soft-skills-text {
    color: #adb1b6;
}

/* languages division */
.languages-division {
    margin: 0px 40px 30px 40px;
}

.languages-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
   	margin-bottom: 10px;
}

.languages-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   	color: #ff6b08;
   	margin-left: 15px;
}

.languages-text {
    color: #adb1b6;
}

/* certifications division */
.certifications-division {
    margin: 0px 40px 30px 40px;
}

.certifications-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
   	margin-bottom: 10px;
}

.certifications-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   	color: #ff6b08;
   	margin-left: 15px;
}

.certifications-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #adb1b6;
}

.certifications-text {
    color: #adb1b6;
}

/* about me division */
.about-me-division {
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 110px;
	padding-bottom: 110px;
}

/* about me main info */
.about-me-main-info {
    margin-bottom: 65px;
}

.profession {
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 90px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #909090;
}

/* projects division */
.projects-division {
    margin-bottom: 50px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.ordered-list {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 15px;
    margin-top: 15px;
}

.projects-links {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.ordered-list-items {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    font-weight: 100;
}

/* work experience */
.work-experience {
    margin-bottom: 50px;
}

.work-experience-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
}

.worked-company {
    color: #ff9c5a;
}

.work-experience-period {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
    margin: 15px, 0px;
}

.separator {
    color: #000000;
}

.work-experience-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    margin-left: 15px;
}

/* education */
.education-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ff9c5a;
    margin-top: 20px;
}

.specialization {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 15px, 0px;
}

.education-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}